<form action="/cookies/actividad" method="post">
    Nombre: <input type="text" name="nombreCliente" id="nombreCliente">
    Email: <input type="email" name="emailCliente" id="emailCliente">

    <input type="submit" value="Agregar">

</form>