{{!-- <h3>SOCKET CLIENTE</h3>
<form id="formulario">
    Nombre: <input type="text" name="nombre" id="nombre">
    Mensaje: <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="enviar">
</form>
<p id="parrafo"></p>
{{!-- inciando el socket del lado del cliente --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script> --}}