<h1>LOGIN</h1>
<form action="/users/login" method="post">
<input type="email" name="email" id="email" placeholder="Ingresa tu email">
<input type="password" name="password" id="password" placeholder="Ingresa tu password">
<input type="submit" value="INGRESAR">
</form>

<h2>USUARIO NUEVO?</h2>
<button onclick="location.href='/views/registro'" >Ir a registro</button>