<form action="/messages" method="post">
    Nombre: <input type="text" name="nombre" id="nombre">
    Apellido: <input type="text" name="apellido" id="apellido">
    Email: <input type="email" name="email" id="email">
    Frase: <input type="text" name="frase" id="frase">
    <input type="submit" value="ENVIAR">
</form>